In [66]:
#import salaries (1).json data in and read it
import polars as pl
import matplotlib as plt

# Open the file for reading into a df
# Define the file path?
file_path = 'salaries (1).json'

# Read the file into a dataframe
df = pl.read_json(file_path)

# Display the dataframe
print(df)

shape: (9_268, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ work_year ┆ experienc ┆ employmen ┆ job_title ┆ … ┆ employee_ ┆ remote_ra ┆ company_l ┆ company_ │
│ ---       ┆ e_level   ┆ t_type    ┆ ---       ┆   ┆ residence ┆ tio       ┆ ocation   ┆ size     │
│ str       ┆ ---       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆ str       ┆ str       ┆           ┆   ┆ str       ┆ i64       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2023      ┆ SE        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ 2023      ┆ SE        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ 2023      ┆ EN        ┆ FT        ┆ MLOps     ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ 2023      ┆ EN        ┆ FT        ┆ MLOps     ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 2021      ┆ MI        ┆ FT        ┆ Principal ┆ … ┆ US        ┆ 100       ┆ US        ┆ L        │
│           ┆           ┆           ┆ Data      ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Scientist ┆   ┆           ┆           ┆           ┆          │
│ 2020      ┆ EN        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 100       ┆ US        ┆ S        │
│           ┆           ┆           ┆ Scientist ┆   ┆           ┆           ┆           ┆          │
│ 2020      ┆ EN        ┆ CT        ┆ Business  ┆ … ┆ US        ┆ 100       ┆ US        ┆ L        │
│           ┆           ┆           ┆ Data      ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Analyst   ┆   ┆           ┆           ┆           ┆          │
│ 2021      ┆ SE        ┆ FT        ┆ Data      ┆ … ┆ IN        ┆ 50        ┆ IN        ┆ L        │
│           ┆           ┆           ┆ Science   ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Manager   ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [67]:
#filter and count total for each employment_type for CT,FL,FT,PT?

#filter and count total for contract employment_type
employmentTypeCount = (
    df
    .groupby('employment_type')
    .agg(
        employmentType_total = pl.count()
    )
    )
print(employmentTypeCount)

shape: (4, 2)
┌─────────────────┬──────────────────────┐
│ employment_type ┆ employmentType_total │
│ ---             ┆ ---                  │
│ str             ┆ u32                  │
╞═════════════════╪══════════════════════╡
│ PT              ┆ 15                   │
│ CT              ┆ 19                   │
│ FL              ┆ 12                   │
│ FT              ┆ 9222                 │
└─────────────────┴──────────────────────┘

/tmp/ipykernel_21595/2520150901.py:6: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('employment_type')

In [68]:
#filter and count total for employee_residence
employmentResidenceCount = (
    df
    .groupby('employee_residence')
    .agg(
        employmentResidence_total = pl.count()
    )
    .sort('employmentResidence_total')
    .reverse()
    .head(10)
    )
print(employmentResidenceCount)

shape: (10, 2)
┌────────────────────┬───────────────────────────┐
│ employee_residence ┆ employmentResidence_total │
│ ---                ┆ ---                       │
│ str                ┆ u32                       │
╞════════════════════╪═══════════════════════════╡
│ US                 ┆ 7942                      │
│ GB                 ┆ 436                       │
│ CA                 ┆ 220                       │
│ ES                 ┆ 117                       │
│ …                  ┆ …                         │
│ FR                 ┆ 54                        │
│ PT                 ┆ 26                        │
│ AU                 ┆ 21                        │
│ NL                 ┆ 21                        │
└────────────────────┴───────────────────────────┘

/tmp/ipykernel_21595/1496646664.py:4: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('employee_residence')

In [69]:
fullTime = ['FT']
theStates = ['US']

#filter out employment type full time and employee residence US
employmentDataFilter = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
)
print(employmentDataFilter)

shape: (7_929, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ work_year ┆ experienc ┆ employmen ┆ job_title ┆ … ┆ employee_ ┆ remote_ra ┆ company_l ┆ company_ │
│ ---       ┆ e_level   ┆ t_type    ┆ ---       ┆   ┆ residence ┆ tio       ┆ ocation   ┆ size     │
│ str       ┆ ---       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆ str       ┆ str       ┆           ┆   ┆ str       ┆ i64       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2023      ┆ SE        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ 2023      ┆ SE        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ 2023      ┆ EN        ┆ FT        ┆ MLOps     ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ 2023      ┆ EN        ┆ FT        ┆ MLOps     ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 2021      ┆ SE        ┆ FT        ┆ Data Spec ┆ … ┆ US        ┆ 100       ┆ US        ┆ L        │
│           ┆           ┆           ┆ ialist    ┆   ┆           ┆           ┆           ┆          │
│ 2020      ┆ SE        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 100       ┆ US        ┆ L        │
│           ┆           ┆           ┆ Scientist ┆   ┆           ┆           ┆           ┆          │
│ 2021      ┆ MI        ┆ FT        ┆ Principal ┆ … ┆ US        ┆ 100       ┆ US        ┆ L        │
│           ┆           ┆           ┆ Data      ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Scientist ┆   ┆           ┆           ┆           ┆          │
│ 2020      ┆ EN        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 100       ┆ US        ┆ S        │
│           ┆           ┆           ┆ Scientist ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [73]:
#filter and count total for job_title
fullTime = ['FT']
theStates = ['US']
employeeJobTitle = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .groupby('job_title')
    .agg(
        employeeJobTitle_total = pl.count()
    )
    )
print(employeeJobTitle)

shape: (101, 2)
┌───────────────────────────────────┬────────────────────────┐
│ job_title                         ┆ employeeJobTitle_total │
│ ---                               ┆ ---                    │
│ str                               ┆ u32                    │
╞═══════════════════════════════════╪════════════════════════╡
│ Machine Learning Infrastructure … ┆ 19                     │
│ Data Management Specialist        ┆ 4                      │
│ Data Operations Engineer          ┆ 16                     │
│ Data Architect                    ┆ 195                    │
│ …                                 ┆ …                      │
│ Data Visualization Engineer       ┆ 4                      │
│ Data Analytics Manager            ┆ 37                     │
│ AI Engineer                       ┆ 25                     │
│ Data Developer                    ┆ 6                      │
└───────────────────────────────────┴────────────────────────┘

/tmp/ipykernel_21595/2802393274.py:8: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('job_title')

In [74]:
#filter and count total for job_title show top 10 jobs
fullTime = ['FT']
theStates = ['US']
employeeJobTitle = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .groupby('job_title')
    .agg(
        employeeJobTitle_total=pl.count()
    )
    .sort('employeeJobTitle_total')  
    .reverse()
    .head(10)  # Selecting the top 10 rows
    
)

print(employeeJobTitle)

shape: (10, 2)
┌────────────────────────────────┬────────────────────────┐
│ job_title                      ┆ employeeJobTitle_total │
│ ---                            ┆ ---                    │
│ str                            ┆ u32                    │
╞════════════════════════════════╪════════════════════════╡
│ Data Engineer                  ┆ 1895                   │
│ Data Scientist                 ┆ 1683                   │
│ Data Analyst                   ┆ 1198                   │
│ Machine Learning Engineer      ┆ 840                    │
│ …                              ┆ …                      │
│ Analytics Engineer             ┆ 220                    │
│ Data Architect                 ┆ 195                    │
│ Business Intelligence Engineer ┆ 138                    │
│ Research Engineer              ┆ 129                    │
└────────────────────────────────┴────────────────────────┘

/tmp/ipykernel_21595/2193003027.py:8: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('job_title')

In [83]:
#filter and count total for remote_ratio
fullTime = ['FT']
theStates = ['US']
top4jobtitles = ['Machine Learning Engineer', 'Data Analyst', 'Data Engineer', 'Data Scientist']
employmentRemote = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .filter(pl.col('job_title').is_in(top4jobtitles))
    .groupby('remote_ratio')
    .agg(
        employmentRemote_total = pl.count()
    )
    )
print(employmentRemote)

shape: (3, 2)
┌──────────────┬────────────────────────┐
│ remote_ratio ┆ employmentRemote_total │
│ ---          ┆ ---                    │
│ i64          ┆ u32                    │
╞══════════════╪════════════════════════╡
│ 0            ┆ 3521                   │
│ 50           ┆ 20                     │
│ 100          ┆ 2075                   │
└──────────────┴────────────────────────┘

/tmp/ipykernel_21595/2727686209.py:10: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('remote_ratio')

In [85]:
#filter and count total for experience_level
fullTime = ['FT']
theStates = ['US']
top4jobtitles = ['Machine Learning Engineer', 'Data Analyst', 'Data Engineer', 'Data Scientist']
employeeExperienceLevel = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .filter(pl.col('job_title').is_in(top4jobtitles))
    .groupby('experience_level')
    .agg(
        employeeExperienceLevel_total = pl.count()
    )
    )
print(employeeExperienceLevel)

shape: (4, 2)
┌──────────────────┬───────────────────────────────┐
│ experience_level ┆ employeeExperienceLevel_total │
│ ---              ┆ ---                           │
│ str              ┆ u32                           │
╞══════════════════╪═══════════════════════════════╡
│ MI               ┆ 902                           │
│ EN               ┆ 224                           │
│ EX               ┆ 144                           │
│ SE               ┆ 4346                          │
└──────────────────┴───────────────────────────────┘

/tmp/ipykernel_21595/2162794735.py:10: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('experience_level')

In [87]:
#filter and count total for experience_level
fullTime = ['FT']
theStates = ['US']
top4jobtitles = ['Machine Learning Engineer', 'Data Analyst', 'Data Engineer', 'Data Scientist']
employeeExperienceLevel = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .filter(pl.col('job_title').is_in(top4jobtitles))
    .groupby('experience_level')
    .agg(
        employeeExperienceLevel_total = pl.count()
    )
    )
print(employeeExperienceLevel)

/tmp/ipykernel_21595/2162794735.py:10: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('experience_level')

shape: (4, 2)
┌──────────────────┬───────────────────────────────┐
│ experience_level ┆ employeeExperienceLevel_total │
│ ---              ┆ ---                           │
│ str              ┆ u32                           │
╞══════════════════╪═══════════════════════════════╡
│ SE               ┆ 4346                          │
│ MI               ┆ 902                           │
│ EX               ┆ 144                           │
│ EN               ┆ 224                           │
└──────────────────┴───────────────────────────────┘

In [88]:
#filter and count total for company_size
fullTime = ['FT']
theStates = ['US']
top4jobtitles = ['Machine Learning Engineer', 'Data Analyst', 'Data Engineer', 'Data Scientist']
employerCompanySize = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .filter(pl.col('job_title').is_in(top4jobtitles))
    .groupby('company_size')
    .agg(
        employerCompanySize_total = pl.count()
    )
    )
print(employerCompanySize)

shape: (3, 2)
┌──────────────┬───────────────────────────┐
│ company_size ┆ employerCompanySize_total │
│ ---          ┆ ---                       │
│ str          ┆ u32                       │
╞══════════════╪═══════════════════════════╡
│ L            ┆ 203                       │
│ M            ┆ 5385                      │
│ S            ┆ 28                        │
└──────────────┴───────────────────────────┘

/tmp/ipykernel_21595/1734881984.py:10: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('company_size')

In [89]:
#filter and count total for salary_in_usd
fullTime = ['FT']
theStates = ['US']
top4jobtitles = ['Machine Learning Engineer', 'Data Analyst', 'Data Engineer', 'Data Scientist']
employeeSalary = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .filter(pl.col('job_title').is_in(top4jobtitles))
    .groupby('salary_in_usd')
    .agg(
        employeeSalary_total = pl.count()
    )
    )
print(employeeSalary)

shape: (1_091, 2)
┌───────────────┬──────────────────────┐
│ salary_in_usd ┆ employeeSalary_total │
│ ---           ┆ ---                  │
│ str           ┆ u32                  │
╞═══════════════╪══════════════════════╡
│ 196760        ┆ 1                    │
│ 139700        ┆ 9                    │
│ 100500        ┆ 2                    │
│ 59000         ┆ 2                    │
│ …             ┆ …                    │
│ 115950        ┆ 1                    │
│ 205400        ┆ 1                    │
│ 58161         ┆ 1                    │
│ 134236        ┆ 2                    │
└───────────────┴──────────────────────┘

/tmp/ipykernel_21595/3801413792.py:10: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('salary_in_usd')

In [92]:
#filter and count total for salary_in_usd
fullTime = ['FT']
theStates = ['US']
top4jobtitles = ['Machine Learning Engineer', 'Data Analyst', 'Data Engineer', 'Data Scientist']
employeeSalary = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .filter(pl.col('job_title').is_in(top4jobtitles))
    .groupby('salary_in_usd')
    .agg(
        employeeSalary_total = pl.count()
    )
    .sort('employeeSalary_total')
    .reverse()
    .head(10)
    )
print(employeeSalary)

shape: (10, 2)
┌───────────────┬──────────────────────┐
│ salary_in_usd ┆ employeeSalary_total │
│ ---           ┆ ---                  │
│ str           ┆ u32                  │
╞═══════════════╪══════════════════════╡
│ 160000        ┆ 142                  │
│ 150000        ┆ 139                  │
│ 130000        ┆ 134                  │
│ 100000        ┆ 110                  │
│ …             ┆ …                    │
│ 145000        ┆ 85                   │
│ 200000        ┆ 80                   │
│ 135000        ┆ 78                   │
│ 180000        ┆ 78                   │
└───────────────┴──────────────────────┘

/tmp/ipykernel_21595/268392807.py:10: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('salary_in_usd')

In [93]:
#filter and count total for salary_in_usd with experience_level showing 
fullTime = ['FT']
theStates = ['US']
top4jobtitles = ['Machine Learning Engineer', 'Data Analyst', 'Data Engineer', 'Data Scientist']
employeeSalaryWExperienceLevel = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .filter(pl.col('job_title').is_in(top4jobtitles))
    .groupby('salary_in_usd', 'experience_level')
    .agg(
        employeeSalaryWExperienceLevel = pl.count()
    )
    )
print(employeeSalaryWExperienceLevel)

shape: (1_383, 3)
┌───────────────┬──────────────────┬────────────────────────────────┐
│ salary_in_usd ┆ experience_level ┆ employeeSalaryWExperienceLevel │
│ ---           ┆ ---              ┆ ---                            │
│ str           ┆ str              ┆ u32                            │
╞═══════════════╪══════════════════╪════════════════════════════════╡
│ 230300        ┆ SE               ┆ 1                              │
│ 100000        ┆ MI               ┆ 45                             │
│ 135000        ┆ MI               ┆ 17                             │
│ 165000        ┆ SE               ┆ 38                             │
│ …             ┆ …                ┆ …                              │
│ 181940        ┆ SE               ┆ 1                              │
│ 120600        ┆ SE               ┆ 1                              │
│ 200100        ┆ SE               ┆ 1                              │
│ 324000        ┆ EX               ┆ 1                              │
└───────────────┴──────────────────┴────────────────────────────────┘

/tmp/ipykernel_21595/1391258399.py:10: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('salary_in_usd', 'experience_level')

In [94]:
#filter and count total for salary_in_usd with experience_level showing 
fullTime = ['FT']
theStates = ['US']
top4jobtitles = ['Machine Learning Engineer', 'Data Analyst', 'Data Engineer', 'Data Scientist']
employeeSalaryWExperienceLevel = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .filter(pl.col('job_title').is_in(top4jobtitles))
    .groupby('salary_in_usd', 'experience_level')
    .agg(
        employeeSalaryWExperienceLevel = pl.count()
    )
    .sort('employeeSalaryWExperienceLevel')
    .reverse()
    .head(10)
    )
print(employeeSalaryWExperienceLevel)

shape: (10, 3)
┌───────────────┬──────────────────┬────────────────────────────────┐
│ salary_in_usd ┆ experience_level ┆ employeeSalaryWExperienceLevel │
│ ---           ┆ ---              ┆ ---                            │
│ str           ┆ str              ┆ u32                            │
╞═══════════════╪══════════════════╪════════════════════════════════╡
│ 160000        ┆ SE               ┆ 106                            │
│ 130000        ┆ SE               ┆ 97                             │
│ 150000        ┆ SE               ┆ 94                             │
│ 140000        ┆ SE               ┆ 87                             │
│ …             ┆ …                ┆ …                              │
│ 200000        ┆ SE               ┆ 60                             │
│ 170000        ┆ SE               ┆ 60                             │
│ 175000        ┆ SE               ┆ 59                             │
│ 180000        ┆ SE               ┆ 59                             │
└───────────────┴──────────────────┴────────────────────────────────┘

/tmp/ipykernel_21595/3969515959.py:10: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('salary_in_usd', 'experience_level')