In [66]:
#import salaries (1).json data in and read it
import polars as pl

# Open the file for reading into a df
# Define the file path?
file_path = 'salaries (1).json'

# Read the file into a dataframe
df = pl.read_json(file_path)

# Display the dataframe
print(df)

shape: (9_268, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ work_year ┆ experienc ┆ employmen ┆ job_title ┆ … ┆ employee_ ┆ remote_ra ┆ company_l ┆ company_ │
│ ---       ┆ e_level   ┆ t_type    ┆ ---       ┆   ┆ residence ┆ tio       ┆ ocation   ┆ size     │
│ str       ┆ ---       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆ str       ┆ str       ┆           ┆   ┆ str       ┆ i64       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2023      ┆ SE        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ 2023      ┆ SE        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ 2023      ┆ EN        ┆ FT        ┆ MLOps     ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ 2023      ┆ EN        ┆ FT        ┆ MLOps     ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 2021      ┆ MI        ┆ FT        ┆ Principal ┆ … ┆ US        ┆ 100       ┆ US        ┆ L        │
│           ┆           ┆           ┆ Data      ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Scientist ┆   ┆           ┆           ┆           ┆          │
│ 2020      ┆ EN        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 100       ┆ US        ┆ S        │
│           ┆           ┆           ┆ Scientist ┆   ┆           ┆           ┆           ┆          │
│ 2020      ┆ EN        ┆ CT        ┆ Business  ┆ … ┆ US        ┆ 100       ┆ US        ┆ L        │
│           ┆           ┆           ┆ Data      ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Analyst   ┆   ┆           ┆           ┆           ┆          │
│ 2021      ┆ SE        ┆ FT        ┆ Data      ┆ … ┆ IN        ┆ 50        ┆ IN        ┆ L        │
│           ┆           ┆           ┆ Science   ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Manager   ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [67]:
#filter and count total for each employment_type for CT,FL,FT,PT?

#filter and count total for contract employment_type
employmentTypeCount = (
    df
    .groupby('employment_type')
    .agg(
        employmentType_total = pl.count()
    )
    )
print(employmentTypeCount)

shape: (4, 2)
┌─────────────────┬──────────────────────┐
│ employment_type ┆ employmentType_total │
│ ---             ┆ ---                  │
│ str             ┆ u32                  │
╞═════════════════╪══════════════════════╡
│ PT              ┆ 15                   │
│ CT              ┆ 19                   │
│ FL              ┆ 12                   │
│ FT              ┆ 9222                 │
└─────────────────┴──────────────────────┘

/tmp/ipykernel_21595/2520150901.py:6: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('employment_type')

In [68]:
#filter and count total for employee_residence
employmentResidenceCount = (
    df
    .groupby('employee_residence')
    .agg(
        employmentResidence_total = pl.count()
    )
    .sort('employmentResidence_total')
    .reverse()
    .head(10)
    )
print(employmentResidenceCount)

shape: (10, 2)
┌────────────────────┬───────────────────────────┐
│ employee_residence ┆ employmentResidence_total │
│ ---                ┆ ---                       │
│ str                ┆ u32                       │
╞════════════════════╪═══════════════════════════╡
│ US                 ┆ 7942                      │
│ GB                 ┆ 436                       │
│ CA                 ┆ 220                       │
│ ES                 ┆ 117                       │
│ …                  ┆ …                         │
│ FR                 ┆ 54                        │
│ PT                 ┆ 26                        │
│ AU                 ┆ 21                        │
│ NL                 ┆ 21                        │
└────────────────────┴───────────────────────────┘

/tmp/ipykernel_21595/1496646664.py:4: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('employee_residence')

In [69]:
fullTime = ['FT']
theStates = ['US']

#filter out employment type full time and employee residence US
employmentDataFilter = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
)
print(employmentDataFilter)

shape: (7_929, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ work_year ┆ experienc ┆ employmen ┆ job_title ┆ … ┆ employee_ ┆ remote_ra ┆ company_l ┆ company_ │
│ ---       ┆ e_level   ┆ t_type    ┆ ---       ┆   ┆ residence ┆ tio       ┆ ocation   ┆ size     │
│ str       ┆ ---       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆ str       ┆ str       ┆           ┆   ┆ str       ┆ i64       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2023      ┆ SE        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ 2023      ┆ SE        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ 2023      ┆ EN        ┆ FT        ┆ MLOps     ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ 2023      ┆ EN        ┆ FT        ┆ MLOps     ┆ … ┆ US        ┆ 0         ┆ US        ┆ M        │
│           ┆           ┆           ┆ Engineer  ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 2021      ┆ SE        ┆ FT        ┆ Data Spec ┆ … ┆ US        ┆ 100       ┆ US        ┆ L        │
│           ┆           ┆           ┆ ialist    ┆   ┆           ┆           ┆           ┆          │
│ 2020      ┆ SE        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 100       ┆ US        ┆ L        │
│           ┆           ┆           ┆ Scientist ┆   ┆           ┆           ┆           ┆          │
│ 2021      ┆ MI        ┆ FT        ┆ Principal ┆ … ┆ US        ┆ 100       ┆ US        ┆ L        │
│           ┆           ┆           ┆ Data      ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ Scientist ┆   ┆           ┆           ┆           ┆          │
│ 2020      ┆ EN        ┆ FT        ┆ Data      ┆ … ┆ US        ┆ 100       ┆ US        ┆ S        │
│           ┆           ┆           ┆ Scientist ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [73]:
#filter and count total for job_title
fullTime = ['FT']
theStates = ['US']
employeeJobTitle = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .groupby('job_title')
    .agg(
        employeeJobTitle_total = pl.count()
    )
    )
print(employeeJobTitle)

shape: (101, 2)
┌───────────────────────────────────┬────────────────────────┐
│ job_title                         ┆ employeeJobTitle_total │
│ ---                               ┆ ---                    │
│ str                               ┆ u32                    │
╞═══════════════════════════════════╪════════════════════════╡
│ Machine Learning Infrastructure … ┆ 19                     │
│ Data Management Specialist        ┆ 4                      │
│ Data Operations Engineer          ┆ 16                     │
│ Data Architect                    ┆ 195                    │
│ …                                 ┆ …                      │
│ Data Visualization Engineer       ┆ 4                      │
│ Data Analytics Manager            ┆ 37                     │
│ AI Engineer                       ┆ 25                     │
│ Data Developer                    ┆ 6                      │
└───────────────────────────────────┴────────────────────────┘

/tmp/ipykernel_21595/2802393274.py:8: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('job_title')

In [74]:
#filter and count total for job_title show top 10 jobs
fullTime = ['FT']
theStates = ['US']
employeeJobTitle = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .groupby('job_title')
    .agg(
        employeeJobTitle_total=pl.count()
    )
    .sort('employeeJobTitle_total')  
    .reverse()
    .head(10)  # Selecting the top 10 rows
)

print(employeeJobTitle)

shape: (10, 2)
┌────────────────────────────────┬────────────────────────┐
│ job_title                      ┆ employeeJobTitle_total │
│ ---                            ┆ ---                    │
│ str                            ┆ u32                    │
╞════════════════════════════════╪════════════════════════╡
│ Data Engineer                  ┆ 1895                   │
│ Data Scientist                 ┆ 1683                   │
│ Data Analyst                   ┆ 1198                   │
│ Machine Learning Engineer      ┆ 840                    │
│ …                              ┆ …                      │
│ Analytics Engineer             ┆ 220                    │
│ Data Architect                 ┆ 195                    │
│ Business Intelligence Engineer ┆ 138                    │
│ Research Engineer              ┆ 129                    │
└────────────────────────────────┴────────────────────────┘

/tmp/ipykernel_21595/2193003027.py:8: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('job_title')

In [75]:
#filter and count total for remote_ratio
fullTime = ['FT']
theStates = ['US']
employmentRemote = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .groupby('remote_ratio')
    .agg(
        employmentRemote_total = pl.count()
    )
    )
print(employmentRemote)

shape: (3, 2)
┌──────────────┬────────────────────────┐
│ remote_ratio ┆ employmentRemote_total │
│ ---          ┆ ---                    │
│ i64          ┆ u32                    │
╞══════════════╪════════════════════════╡
│ 0            ┆ 5054                   │
│ 50           ┆ 39                     │
│ 100          ┆ 2836                   │
└──────────────┴────────────────────────┘

/tmp/ipykernel_21595/3851781859.py:8: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('remote_ratio')

In [76]:
#filter and count total for experience_level
fullTime = ['FT']
theStates = ['US']
employeeExperienceLevel = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .groupby('experience_level')
    .agg(
        employeeExperienceLevel_total = pl.count()
    )
    )
print(employeeExperienceLevel)

shape: (4, 2)
┌──────────────────┬───────────────────────────────┐
│ experience_level ┆ employeeExperienceLevel_total │
│ ---              ┆ ---                           │
│ str              ┆ u32                           │
╞══════════════════╪═══════════════════════════════╡
│ MI               ┆ 1320                          │
│ EN               ┆ 317                           │
│ SE               ┆ 6051                          │
│ EX               ┆ 241                           │
└──────────────────┴───────────────────────────────┘

/tmp/ipykernel_21595/2020722578.py:8: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('experience_level')

In [ ]:
#filter and count total for experience_level
fullTime = ['FT']
theStates = ['US']
employeeExperienceLevel = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .groupby('experience_level')
    .agg(
        employeeExperienceLevel_total = pl.count()
    )
    )
print(employeeExperienceLevel)

In [77]:
#filter and count total for company_size
fullTime = ['FT']
theStates = ['US']
employerCompanySize = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .groupby('company_size')
    .agg(
        employerCompanySize_total = pl.count()
    )
    )
print(employerCompanySize)

shape: (3, 2)
┌──────────────┬───────────────────────────┐
│ company_size ┆ employerCompanySize_total │
│ ---          ┆ ---                       │
│ str          ┆ u32                       │
╞══════════════╪═══════════════════════════╡
│ M            ┆ 7347                      │
│ S            ┆ 45                        │
│ L            ┆ 537                       │
└──────────────┴───────────────────────────┘

/tmp/ipykernel_21595/1386866775.py:8: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('company_size')

In [78]:
#filter and count total for salary_in_usd
fullTime = ['FT']
theStates = ['US']
employeeSalary = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .groupby('salary_in_usd')
    .agg(
        employeeSalary_total = pl.count()
    )
    )
print(employeeSalary)

shape: (1_344, 2)
┌───────────────┬──────────────────────┐
│ salary_in_usd ┆ employeeSalary_total │
│ ---           ┆ ---                  │
│ str           ┆ u32                  │
╞═══════════════╪══════════════════════╡
│ 70900         ┆ 1                    │
│ 111775        ┆ 1                    │
│ 254500        ┆ 1                    │
│ 83000         ┆ 4                    │
│ …             ┆ …                    │
│ 272400        ┆ 2                    │
│ 93593         ┆ 1                    │
│ 187259        ┆ 1                    │
│ 112200        ┆ 5                    │
└───────────────┴──────────────────────┘

/tmp/ipykernel_21595/2581266221.py:8: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('salary_in_usd')

In [79]:
#filter and count total for salary_in_usd
fullTime = ['FT']
theStates = ['US']
employeeSalary = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .groupby('salary_in_usd')
    .agg(
        employeeSalary_total = pl.count()
    )
    .sort('employeeSalary_total')
    .reverse()
    .head(10)
    )
print(employeeSalary)

shape: (10, 2)
┌───────────────┬──────────────────────┐
│ salary_in_usd ┆ employeeSalary_total │
│ ---           ┆ ---                  │
│ str           ┆ u32                  │
╞═══════════════╪══════════════════════╡
│ 150000        ┆ 195                  │
│ 130000        ┆ 180                  │
│ 160000        ┆ 175                  │
│ 100000        ┆ 157                  │
│ …             ┆ …                    │
│ 200000        ┆ 128                  │
│ 145000        ┆ 120                  │
│ 180000        ┆ 110                  │
│ 135000        ┆ 106                  │
└───────────────┴──────────────────────┘

/tmp/ipykernel_21595/3573748110.py:8: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('salary_in_usd')

In [80]:
#filter and count total for salary_in_usd with experience_level showing 
fullTime = ['FT']
theStates = ['US']
employeeSalaryWExperienceLevel = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .groupby('salary_in_usd', 'experience_level')
    .agg(
        employeeSalaryWExperienceLevel = pl.count()
    )
    )
print(employeeSalaryWExperienceLevel)

shape: (1_732, 3)
┌───────────────┬──────────────────┬────────────────────────────────┐
│ salary_in_usd ┆ experience_level ┆ employeeSalaryWExperienceLevel │
│ ---           ┆ ---              ┆ ---                            │
│ str           ┆ str              ┆ u32                            │
╞═══════════════╪══════════════════╪════════════════════════════════╡
│ 95000         ┆ SE               ┆ 42                             │
│ 196000        ┆ SE               ┆ 19                             │
│ 195800        ┆ SE               ┆ 3                              │
│ 294000        ┆ SE               ┆ 1                              │
│ …             ┆ …                ┆ …                              │
│ 99050         ┆ SE               ┆ 1                              │
│ 106260        ┆ SE               ┆ 1                              │
│ 138000        ┆ EN               ┆ 1                              │
│ 111775        ┆ MI               ┆ 1                              │
└───────────────┴──────────────────┴────────────────────────────────┘

/tmp/ipykernel_21595/1116946839.py:8: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('salary_in_usd', 'experience_level')

In [81]:
#filter and count total for salary_in_usd with experience_level showing 
fullTime = ['FT']
theStates = ['US']
employeeSalaryWExperienceLevel = (
    df
    .filter(pl.col('employment_type').is_in(fullTime))
    .filter(pl.col('employee_residence').is_in(theStates))
    .groupby('salary_in_usd', 'experience_level')
    .agg(
        employeeSalaryWExperienceLevel = pl.count()
    )
    .sort('employeeSalaryWExperienceLevel')
    .reverse()
    .head(10)
    )
print(employeeSalaryWExperienceLevel)

shape: (10, 3)
┌───────────────┬──────────────────┬────────────────────────────────┐
│ salary_in_usd ┆ experience_level ┆ employeeSalaryWExperienceLevel │
│ ---           ┆ ---              ┆ ---                            │
│ str           ┆ str              ┆ u32                            │
╞═══════════════╪══════════════════╪════════════════════════════════╡
│ 160000        ┆ SE               ┆ 129                            │
│ 150000        ┆ SE               ┆ 128                            │
│ 130000        ┆ SE               ┆ 128                            │
│ 140000        ┆ SE               ┆ 110                            │
│ …             ┆ …                ┆ …                              │
│ 200000        ┆ SE               ┆ 93                             │
│ 136000        ┆ SE               ┆ 85                             │
│ 170000        ┆ SE               ┆ 84                             │
│ 180000        ┆ SE               ┆ 82                             │
└───────────────┴──────────────────┴────────────────────────────────┘

/tmp/ipykernel_21595/707213618.py:8: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby('salary_in_usd', 'experience_level')