In [10]:
#import salaries (1).json data in and read it
import pandas as pd

# Open the file for reading into a df
# Define the file path?
file_path = 'salaries (1).json'

# Read the file into a dataframe
df = pd.read_json(file_path)

# Display the dataframe
print(df)

      work_year experience_level employment_type                 job_title  \
0          2023               SE              FT             Data Engineer
1          2023               SE              FT             Data Engineer
2          2023               EN              FT            MLOps Engineer
3          2023               EN              FT            MLOps Engineer
4          2023               SE              FT        Analytics Engineer
...         ...              ...             ...                       ...
9263       2020               SE              FT            Data Scientist
9264       2021               MI              FT  Principal Data Scientist
9265       2020               EN              FT            Data Scientist
9266       2020               EN              CT     Business Data Analyst
9267       2021               SE              FT      Data Science Manager

       salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0      145000             USD         145000                 US             0
1      115000             USD         115000                 US             0
2      133000             USD         133000                 US             0
3       58300             USD          58300                 US             0
4      115000             USD         115000                 US             0
...       ...             ...            ...                ...           ...
9263   412000             USD         412000                 US           100
9264   151000             USD         151000                 US           100
9265   105000             USD         105000                 US           100
9266   100000             USD         100000                 US           100
9267  7000000             INR          94665                 IN            50

     company_location company_size
0                  US            M
1                  US            M
2                  US            M
3                  US            M
4                  US            M
...               ...          ...
9263               US            L
9264               US            L
9265               US            S
9266               US            L
9267               IN            L

[9268 rows x 11 columns]

In [16]:
#filter and count total for each employment_type for CT,FL,FT,PT?

#filter and count total for contract employment_type
contract_count = df[df['employment_type'] == 'CT'].count()
print("number of contract employees is:" , contract_count)

#filter and count total for free lance employment_type
freeLance_count = df[df['employment_type'] == 'FL'].count()
print(freeLance_count)

#filter and count total for full time employment_type
fullTime_count = df[df['employment_type'] == 'FT'].count()
print(fullTime_count)

#filter and count total for part time employment_type
partTime_count = df[df['employment_type'] == 'PT'].count()
print(partTime_count)

number of contract employees is: work_year             19
experience_level      19
employment_type       19
job_title             19
salary                19
salary_currency       19
salary_in_usd         19
employee_residence    19
remote_ratio          19
company_location      19
company_size          19
dtype: int64
work_year             12
experience_level      12
employment_type       12
job_title             12
salary                12
salary_currency       12
salary_in_usd         12
employee_residence    12
remote_ratio          12
company_location      12
company_size          12
dtype: int64
work_year             9222
experience_level      9222
employment_type       9222
job_title             9222
salary                9222
salary_currency       9222
salary_in_usd         9222
employee_residence    9222
remote_ratio          9222
company_location      9222
company_size          9222
dtype: int64
work_year             15
experience_level      15
employment_type       15
job_title             15
salary                15
salary_currency       15
salary_in_usd         15
employee_residence    15
remote_ratio          15
company_location      15
company_size          15
dtype: int64